# package directories
node_modules
jspm_packages

.yarn-error.log

# Docs
documentation
coverage

# Terraform
terraform.tfstate
terraform.tfstate.backup
.terraform

# Serverless directories
.serverless

# esbuild directories
.esbuild
*.env